<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>Содержание накладной</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/menu.css">
    </style>
</head>
<body style="background-image: url(../static/image/menu.jpg); height:100%">
    <div class="form-group" style="display: grid; text-align: center; height: 100%; align-content: center;">
        <form action="", method ="POST">
            <label for="inv" style="color:white; font-size:28px;">Введите номер накладной</label>
            <br><br>
            <input class="form-control w-25" style="margin:auto" name = inv_id id="inv" type = text placeholder = номер накладной>
            <br>
        <input type = submit value ="Отправить">
        </form>
    </div>
