<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Base_menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet" type="text/css">
</head>

<body style="background-image: url(../static/image/menu.jpg)">
<div>
    <h1 class="display-3" align="center"  style="color:#E0FFFF; margin-top:10px;"> Меню пользователя </h1>
    {% block internal_user %}{% endblock %}
    {% block external_user %}{% endblock %}
</div>
</body>



</html>